body {
    background-color: black;
    color: white;
   

}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header h1 {
    font-size: 30px;
}

header img{
    display: inline-block;
    vertical-align: text-bottom;
    width: 50px;
    height: 36px;
   
}

/* this code selector is for all the elements which need inline-block fot display */
/* I didn't put the elements like header img etc becasue it is more readable when the code is in the selector itself*/
header h1, nav, li,footer p, figure{
    display: inline-block;
}

nav, footer div{
    float: right;
    font-size: 25px;
}

nav {
    margin-top: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: red;
}

/* this code selector is for to make "kadyen" be red by giving class engname */
.engname { 
    color: red;
    font-style:oblique;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}


li, footer p { 
    margin-right: 20px;
}

/* this code selector select the p first element in the div which has a id called p-parent */
#p-parent p:first-child { 
    margin-top: 50px;
    margin-left: 20px;;
    font-size: 150px;
    font-family: 'Allan';
}

/* this code selector select the p second element in the div which has a id called p-parent */
#p-parent p:nth-child(2) {
    font-size: 50px;
    font-family: 'Kalam';
    margin-top: 100px;
    margin-left: 20px;
}


#about img {   
    margin-top: 50px;
    max-width: 210px;
    max-height: 300px;
    padding: 10px;
    border: 10px solid ;
    border-radius: 10px;
    margin-left: 20px;
}

/* this code selector is to set up the imgs to a flex postion */
#about {
    display:grid;
    grid-template-columns: 250px 1fr;
}

#about p { 
    margin-top: 45px;
    margin-right: 25px;
    padding-left: 20px;
    font-size: 20px;
    line-height: 1.5;
}

#about div { 
    margin-right: 20px;
    
}

/* this code selector is to set up the imgs to a flex postion */
#work {
    max-width: 100%;
    background-image: url(./images/paper2.jpg);
    border-radius: 10px;
    margin: 50px 20px 20px 20px;
    padding-bottom: 50px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}



#work img {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 10px solid white;
    border-radius: 10px;
   
}

#work div img {
    width: 350px;
    height: 250px;    
    margin-left: 30px;
    margin-right: 30px ;
    margin-top: 30px;
}



footer p {
    margin-bottom: 20px;
    font-size: 15px;
}

footer img{
    display: inline-block;
    vertical-align:text-bottom;
    margin-right: 3px;
    width: 25px;
    height: 25px;
}


figcaption {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight:bold;
    font-family: 'Kalam';
    color:black;
}


/* this works when the screen is bigger than 1700px. */

@media screen and (min-width:1700px) {
    
    #work div img {
        width: 450px;
        height: 350px;    
        margin-left: 80px;
        margin-right: 80px ;
        margin-top: 60px;
    }

}


/* this works when the screen is bigger than 1535px. */


@media screen and (min-width:1535px) {
    #p-parent p:first-child { 
        margin-top: 50px;
        font-size: 200px;   
    }

    #about p { 
        margin-top: 45px;
        margin-right: 25px;
        padding-left: 20px;
        font-size: 23px;
        line-height: 1.5;
    }

    #work div img {
        width: 350px;
        height: 250px;    
        margin-left: 65px;
        margin-right: 65px ;
    }

    
}

/* this works when the screen is smaller than 1295px. */

@media screen and (max-width:1295px) {
    #p-parent p:first-child { 
        margin-top: 50px;
        font-size: 130px;
        
    }
    #about p { 
        margin-top: 45px;
        margin-right: 25px;
        padding-left: 20px;
        font-size: 18px;
        line-height: 1.5;
    }
    
    #work div img {
        width: 350px;
        height: 250px;    
        margin-left: 20px;
        margin-right: 20px ;
    }

    #work div img {
        width: 300px;
        height: 250px;    
        margin-left: 20px;
        margin-right: 20px ;
    }
}



/* this works when the screen is smaller than 1086px. */
@media screen and (max-width:1086px) {

    figure {
        display: block;
    }


    
    #work img {
        margin-left: 300px;
        margin-right: 300px;
        margin-bottom: 30px;
        padding: 10px;
        border: 10px solid white;
        border-radius: 10px;
        width: 500px;
        height: 400px;
    }

    #work div img {
        width: 400px;
        height: 350px;    
        margin-left: 20px;
        margin-right: 20px ;
    }

}

/* this works when the screen is smaller than 980px. */

@media screen and (max-width:980px) {
    #p-parent p:first-child { 
        margin-top: 50px;
        font-size: 110px;
        
    }

}

/* this works when the screen is smaller than 830px. */
@media screen and (max-width:830px) {
    #p-parent p:first-child { 
        margin-top: 50px;
        font-size: 100px;
    }

}

/* this works when the screen is smaller than 764px. */
@media screen and (max-width:764px) {
    #p-parent p:first-child { 
        margin-top: 50px;
        font-size: 80px;
    }
    
    nav {
        font-size: 20px;
    }
}

/* this works when the screen is smaller than 701px. */
@media screen and (max-width:701px) {
   

    nav {
        font-size: 15px;
    }

    footer p {
        font-size: 13px;
    }

    footer img{
        width: 20px;
        height: 20px;
    }
}